@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>GO TO: <a href="https://localhost:44314/api/UserRegister">User Register</a>.</p>
    <p>GO TO: <a href="https://localhost:44314/api/UserCheckMail">User Check Mail</a>.</p>
    <p>GO TO: <a href="https://localhost:44314/api/GetUser">User Get</a>.</p>
    <p>GO TO: <a href="https://localhost:44314/api/UserSetNegativeStatus">User Set Status</a>.</p>
    <p>GO TO: <a href="https://localhost:44314/api/UserDelete">User Delete</a>.</p>
    <p>GO TO: <a href="https://localhost:44314/api/TaskRegister">Task Register</a>.</p>
    <p>GO TO: <a href="https://localhost:44314/api/TaskGetAll">Task Get All</a>.</p>
    <p>GO TO: <a href="https://localhost:44314/api/TaskGet">Task Get</a>.</p>
    <p>GO TO: <a href="https://localhost:44314/api/TaskDelete">Task Delete</a>.</p>
    <p>GO TO: <a href="https://localhost:44314/api/TaskStatusChange">Task Change Status</a>.</p>
</div>
