@model PAIMVC.Models.Requests.TaskRegisterRequest
@{
    ViewData["Title"] = "TaskGetAll";
}

<h1><center>TASK GET ALL</center></h1>
<br />
<div class="page-content container-fluid">
    <div class="" data-plugin="matchHeight" data-by-row="true">
        @using (Html.BeginForm("PTaskGetAll", "Home", FormMethod.Post))
        {
            <div class="panel">
                <div class="panel-body">
                    <div class="">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                
                            </div>
                        </div>

                        <div class="rowError">@Html.ValidationSummary(true)</div>

                        <div class="text-right">
                            <a href="@Url.Action("Index", "Home")" class="button" style="margin-right: 10px;">Powrót</a>
                            <button type="submit" value="True" class="btn btn-primary" id="validateButton2">Pobierz wszystkie</button>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>